<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5TIH3odMzwKBIYEBxKRG92VWRvfmgabA</string>
	<key>GCM_SENDER_ID</key>
	<string>669301044156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sktechno.Spend-Smart</string>
	<key>PROJECT_ID</key>
	<string>spendsmart-499fe</string>
	<key>STORAGE_BUCKET</key>
	<string>spendsmart-499fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669301044156:ios:98dd09c14800ce3fe031b9</string>
</dict>
</plist>